@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --dark-blue: #163458;
  --main-blue: #78CCDE;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* LOADING SCREEN */
.loading-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--dark-blue);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: left;
  padding-top: 25vh;
  padding-right: 25vw;
  z-index: 99;
  animation: loading-animation 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes loading-animation {
  90%  { transform: translateY(0);     }
  99%  { transform: translateY(-100%); }
  100% { transform: translateY(-100%); }
}

.terminal {
  font-size: 45px;
}

.loading {
  margin-top: 10px;
}

.loading-text {
  font-size: 45px;
  margin-left: 40px;
}

.line {
  height: 25px;
  width: 1px;
  color: white;
  position: absolute;
  animation: rotate 1s linear infinite;
  margin-top: 15px;
}

@keyframes rotate {
  30% { transform: rotate(220deg); }
  40% { transform: rotate(450deg); }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% { opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.circle {
  position: relative;
  top: 30px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  color: white;
  background-color: white;
}

.line:nth-child(1) { animation-delay: 0.05s; }
.line:nth-child(2) { animation-delay: 0.1s;  }
.line:nth-child(3) { animation-delay: 0.15s; }
.line:nth-child(4) { animation-delay: 0.2s;  }
.line:nth-child(5) { animation-delay: 0.25s; }
.line:nth-child(6) { animation-delay: 0.3s;  }

/* MAIN CONTENT */
#main {
  display: none;
  overflow-x: hidden;
}

/* HELLO */
.hello-container {
  width: 200%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

#hello {
  height: 100vh;
  width: 100%;
  background-color: var(--main-blue);
}

.hello-background {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: darkblue;
  align-items: center;
  z-index: 1;
}

.hello-left, .hello-right {
  width: 50%;
  height: 100vh;
}

.hello-left  { background-color: var(--main-blue); }
.hello-right { background-color: white;   }

.hello {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100vh;
  width: 100%;
  color: darkblue;
  flex-direction: column;
  text-align: left;
}

.hello-text {
  font-size: 150px;
  font-weight: 700;
  margin: -55px auto;
}

.buffer {
  background-color: var(--main-blue);
  height: 100vh;
  width: 100%;
}

/* ABOUT */
#about {
  background-color: var(--main-blue);
  height: 100vh;
  width: 100%;
}
