@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

:root {
  --background: #100340;
  --hover: #283264;
  --title: #CEDAE7;
  --text: #83D2f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* LOADING SCREEN */
.loading-screen {
  font-family: 'Montserrat', sans-serif;
  color: white;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  padding-top: 25vh;
  padding-left: 20vw;
  z-index: 99;
  animation: loading-animation 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes loading-animation {
  90%  { transform: translateY(0);     }
  95%  { transform: translateY(-75%);  }
  100% { transform: translateY(-100%); }
}

.terminal { font-size: 45px;  }
.loading  { margin-top: 10px; }

.loading-text {
  font-size: 45px;
  margin-left: 40px;
}

.line {
  height: 25px;
  width: 1px;
  color: white;
  position: absolute;
  animation: rotate 1s linear infinite;
  margin-top: 15px;
}

@keyframes rotate {
  30% { transform: rotate(220deg); }
  40% { transform: rotate(450deg); }
  75% {
    transform: rotate(720deg);
    opacity: 1;
  }
  76% { opacity: 0; }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

.circle {
  position: relative;
  top: 30px;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  color: white;
  background-color: white;
}

.line:nth-child(1) { animation-delay: 0.05s; }
.line:nth-child(2) { animation-delay: 0.1s;  }
.line:nth-child(3) { animation-delay: 0.15s; }
.line:nth-child(4) { animation-delay: 0.2s;  }
.line:nth-child(5) { animation-delay: 0.25s; }
.line:nth-child(6) { animation-delay: 0.3s;  }


/* MAIN CONTENT */
#main {
  display: none;
  background-color: var(--background);
  overflow-x: hidden;
  position: relative;
  top: 0;
  left: 0;
}


/* NAV BAR */
nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  z-index: 89;
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  list-style: none;
  margin-left: 100px;
}

nav ul a {
  text-decoration: none;
  padding: 18px 25px;
  font-size: 22.5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 400;
}

nav ul a:hover {
  background-color: var(--hover);
  font-weight: 600;
}

/* For title in every section */
.title {
  color: white;
  padding-top: 10vh;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  width: 85%;
  margin: 0 auto;
  color: var(--title); 
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* ABOUT */
#about {
  height: 100vh;
  width: 100%;
}

#about .title {
  padding-top: 15vh;
}

.title h1 {
  margin-right: 20px;
}

.title .horizontal-line {
  width: 90%;
  height: 1px;
  background-color: var(--title); 
  margin-top: 10px;
}

#about article {
  width: 85%;
  margin: 2.5vw auto 0 auto;
}

.bio-container {
  display: flex;
  flex-direction: row;
}

.bio {
  color: var(--text);
  max-width: 55vw;
  font-family: 'Montserrat', sans-serif;
  margin-left: 30px;
}

.bio h2 {
  font-size: 30px;
}

.bio h1 {
  font-size: 40px;
  color: white;
  margin: 10px 0;
  cursor: default;
}

.bio p {
  font-size: 18px;
  font-weight: 500;
}

.bio p a {
  text-decoration: none;
  color: var(--title);
}

.bio-picture {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  margin-bottom: 0;
}

.bio-picture img {
  width: 250px;
  height: auto;
  margin-bottom: 15px;
}

.bio-picture p {
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
}

.about-article .bio-container:hover > .bio-picture {
  display: flex;
}

.about-icons {
  position: absolute;
  font-size: 35px;
  color: var(--title);
  margin-top: 7.5vh;
}


/* SKILLS */                            
#skills {                               
  height: 110vh;                       
  width: 100%;                         
}

#skills .title h1 {
  margin-left: 20px;
}

.horizontal-line-skills-left {
  width: 30%;
  height: 1px;
  background-color: var(--title);
  margin-top: 10px;
}

.skills-section {
  width: 90%;
  height: 70vh;
  margin: 1vh auto 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.skills-container {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  height: 100%;
  width: 31%;
}

.skill {
  height: 12.5vh;
  display: flex;
  align-items: center;
  padding-left: 25px;
  font-family: 'Montserrat', sans-serif;
  color: var(--text);
  margin: auto 0;
  font-size: 35px;
  font-weight: 600;
  cursor: default;
}

.skill-arrow {
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent var(--text);
  border-style: solid;
  margin-right: 10px;
}

.skill h1 {
  font-size: 35px;
  font-weight: 600;
}

.skill:hover {
  color: var(--background);
  background-color: var(--text);
}

.html-effect-left {                             
  display: none;                                
}                                               
                                                
.html-effect {                                  
  opacity: 0;                                   
}                                               
                                                
.skills-container .skill:hover > .html-effect-left {
  display: block;                               
}                                               
                                                
.skills-container .skill:hover > .html-effect {     
  opacity: 1;                                   
}                              

.skills-container .skill:hover > .skill-arrow {
  display: none;
}

.css-skill, .bootstrap-skill, .js-skill {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 100%;
  height: 100%;
}

.css-effect {                         
  position: relative;
  font-size: 15px;                    
  top: -110px;
  opacity: 0;
  pointer-events: none;
}                                     
                                      
.skills-container .css-skill:hover > .css-effect {
  opacity: 1;
  color: var(--text);            
}                                     

.bootstrap-effect, .js-effect {
  font-size: 15px;                            
  margin-left: 15px;
  opacity: 0;
}

.skills-container .bootstrap-skill:hover > .bootstrap-effect,    
.skills-container .js-skill:hover > .js-effect {          
  opacity: 1;
  color: var(--background);            
}

.sass-skill, .react-skill, .redux-skill, .python-skill {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 100%;
  height: 100%;
}

.sass-effect, .react-effect, .redux-effect, .python-effect {
  font-size: 15px;
  margin-left: 15px;
  opacity: 0;
}

.skills-container .sass-skill:hover > .sass-effect,
.skills-container .react-skill:hover > .react-effect,
.skills-container .redux-skill:hover > .redux-effect,
.skills-container .python-skill:hover > .python-effect {
  opacity: 1;
  color: var(--background);
}

.git-skill {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 20px;
  width: 100%;
  height: 100%;
}

.git-effect {
  font-size: 15px;
  opacity: 0;
}

.git {
  position: absolute;
  font-size: 40px;
  margin-left: 275px;
  margin-top: -50px;
}

.skills-container .git-skill:hover > .git-effect {
  opacity: 1;                                           
  color: var(--background);                             
}                                                       

.corel-effect {
  font-size: 40px;
  margin-left: 50px;
  opacity: 0;
}

.skills-container .skill:hover > .corel-effect {
  opacity: 1;
  color: var(--background);                             
}

.sm-skill {
  display: flex;
  flex-direction: column;
}

.sm-skill h3 {
  font-weight: 600;
  font-size: 30px;
}

.skills-inprogress {
  font-size: 20px;
  padding: 20px 50px 25px 20px;
  font-weight: normal;
  display: none;
  position: relative;
}

.skills-inprogress h2 {
  margin-top: 5px;
}

.skills-inprogress p {
  margin-top: 10px;
  font-size: 17.5px;
}

.skills-container .sm-skill:hover > h3 {
  color: var(--background);
  margin-top: 190px;
}

.skills-container .sm-skill:hover > .skills-inprogress {
  display: block;
  color: var(--background);
  background-color: var(--text);
}


/* PROJECTS */
#projects {       
  height: 110vh;
  width: 100%;  
}

#projects .title h1 {
  margin: 0 20px;
}

.projects-section {
  margin-top: -2.5vh;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.arrow {
  cursor: pointer;
  position: relative;
  top: 47.5%;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 8px 10px 8px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 10px;
  z-index: 10;
}

#arrow-right {
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-right: 10px;
}

.slider {
  height: 100%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slide {
  height: 15%;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 227.5vh;
  margin: 0 auto;
  transition: transform 0.55s ease-in-out;
}

.slide a {
  text-decoration: none;
}

.project {
  height: 90%;
  width: 33%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  flex-direction: column;
  border: solid 15px var(--text);
}

.slide-upper {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(206, 218, 231, 0.975);
}

.project-image {
  object-fit: cover;
  width: 70%;
  display: block;
  height: auto;
}

.project-expl {
  background-color: rgba(22, 52, 100, 0.85);
  position: absolute;
  height: 70%;
  width: 30%;
  padding: 20px;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: none;
}

.slide-lower {
  height: 15%;
  width: 100%;
  background-color: var(--text);
  font-size: 22.5px;
  font-weight: 600;
  padding: 20px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #163458;
  font-family: 'Montserrat', sans-serif;
}

.code {
  transition: color 0.3s ease-out;
  display: none;
  font-size: 20px;
}

.project:hover .code,
.project:hover .project-expl {
  display: block;
}

.project-bottom {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5vh;
}

.project-bottom a {
  text-decoration: none;
  color: var(--title);
}

.better-code {
  padding: 10px 20px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  border-width: 1.5px;
  border-style: solid;
  border-color: var(--title);
}

.better-code:hover {
  background-color: var(--hover);
  color: var(--title);
}

.better-code:hover > i {
  transform: translateX(6px);
}

.better-code > i {
  margin-left: 10px;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
}


/* EXPERIENCES */  
#experiences {     
  height: 110vh;
  width: 100%;  
}

#experiences .title h1 {
  margin: 0 20px;
}

.horizontal-line-projects-right {
  width: 30%;
  height: 1px;
  background-color: var(--title);
  margin-top: 10px;
}

.organization, .work {
  margin-left: 12.5vw;
}

.organization h1, .work h1 {
  font-size: 35px;
  padding-left: 60px;
  color: var(--title);
  font-family: 'Ubuntu', sans-serif;
}

.work h1 {
  margin-top: 5vh;
}

.organization-exp ul li, .work-exp ul li {
  font-size: 25px;
  padding-bottom: 3px;
  cursor: default;
  max-width: 900px;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}

.organization-exp ul li:hover,
.work-exp ul li:hover {
  background-color: var(--hover);
  font-weight: bold;
}


.organization-exp ul li:hover > p,
.work-exp ul li:hover > p {
  background-color: var(--hover);
  font-weight: normal;
  color: white;
}

.organization-exp ul li p,
.work ul li p {
  display: none;
  font-size: 21px;
  font-family: 'Montserrat', sans-serif;
}

.organization-exp ul li:hover > p,
.work ul li:hover  > p {
  display: block;
}

.work {
  margin-top: -25px;
}

.work-exp {
  display: flex;
  flex-direction: row;
}

.work-exp .period {
  font-weight: bold;
}


/* CONTACT */  
#contact {     
  height: 100vh;
  width: 100%;  
}               

#contact .title h1 {
  margin-left: 20px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 5vh;
  font-family: 'Ubuntu', sans-serif;
  color: var(--text);
}

.contact-content h1 {
  font-size: 45px;
  font-weight: 500;
  margin-bottom: 50px;
  color: var(--title);
}

.contact-content h5 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
}

.contact-content p {
  font-size: 18px;
  width: 550px;
  margin-bottom: 50px;
}

.email-phone {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 30%;
  margin: 0 auto;
}

.ep_contact {
  width: 175px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17.5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
  background-color: var(--background);
  border-color: var(--title);
  border-width: 1px;
  border-style: solid;
}

.ep_contact:hover {
  background-color: var(--hover);
}

.ep_contact i {
  font-size: 35px;
}

#show-number i {
  font-size: 40px;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-address {
  width: 375px;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
  margin-top: 30px;
  font-size: 20px;
  background-color: var(--hover);
  color: var(--title);
  display: none;
}

.address-icon {
  position: relative;
  font-size: 22.5px;
  width: 50px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: solid 0.5px;
  border-left: solid 0.5px;
  border-color: var(--title);
  color: var(--title);
  background-color: var(--hover);
}

.contact-address.number {
  position: relative;
  width: 275px;
}

#copied {
  margin: 1% auto;
  display: none;
}

button {
  cursor: pointer;
}

button:active {
  font-size: 17px;
}

button:focus {
  outline: 0;
}

.address-icon:hover {
  background-color: var(--text);
  color: var(--background);
}



@media screen and (max-width: 1000px) {
  /* Removing the hover effect in skills section */
  .skills-container .skill:hover > .html-effect-left {
    display: none;
  }
  .skills-container .skill:hover > .html-effect,
  .skills-container .css-skill:hover > .css-effect,
  .skills-container .bootstrap-skill:hover > .bootstrap-effect,
  .skills-container .js-skill:hover > .js-effect,
  .skills-container .sass-skill:hover > .sass-effect,
  .skills-container .react-skill:hover > .react-effect,
  .skills-container .redux-skill:hover > .redux-effect,
  .skills-container .python-skill:hover > .python-effect,
  .skills-container .git-skill:hover > .git-effect,
  .skills-container .skill:hover > .corel-effect {
    opacity: 0;
  }
  .sm-skill, .skill-arrow-special,
  .skills-container .sm-skill:hover > .skills-inprogress {
    display: none;
  }
  .skill-special:hover {
    color: var(--text);
    background-color: var(--background);
  }






}

@media screen and (max-width: 850px) {
  .loading-screen {
    padding: 0;
    align-items: center;
  }

  .nav-links {
    justify-content: center;
    margin-left: 0;
    width: 100%;
  }

  .about-article .bio-container:hover > .bio-picture {
    display: none;
  }

  .bio {
    max-width: 100%;
    margin-top: 20px;
  }

  .skill h1 {
    font-size: 30px;
  }

  .slide-lower {
    font-size: 17.5px;
  }
}

/* For NavBar in small screen */
.burger { display: none; }

.burger > div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 5px 0;
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 700px) {
  .nav-links {
    position: absolute;
    right: 0px;
    height: 90vh;
    top: 10vh;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  nav ul a {
    text-decoration: none;
    padding: 18px 17.5px;
    font-size: 17.5px;
  }

  .burger {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 30px;
  }

  .title h1 { font-size: 35px; }
  .bio h1 { font-size: 30px; }
  .bio h2 { font-size: 20px; }

  .skills-section {
    flex-direction: column;
    margin-top: 20vh;
  }

  .skills-container {
    width: 100%;
  }

  .skill {
    height: 7.5vh;
    margin: 5px 0;
  }
  
  .skill h1 {
    font-size: 25px;
  }

  .css-skill, .bootstrap-skill, .js-skill, .sass-skill,
  .react-skill, .redux-skill, .python-skill, .git-skill {
    top: 9px;
  }
}

/* For NavBar */
.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width: 600px) {
  .terminal, .loading-text {
    font-size: 30px;
  }
  
  .loading {  margin-top: 10px; }  
  .line { margin-top: 0; }
  .loading-text { margin-left: 15px; }

  .circle {
    top: 20px;
    height: 4px;
    width: 4px;
  }

  .skill h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .terminal, .loading-text {
    font-size: 22.5px;
  }

  #about .title {
    padding-top: 10vh;
  }

  .css-skill, .bootstrap-skill, .js-skill, .sass-skill,
  .react-skill, .redux-skill, .python-skill, .git-skill {
    top: 11px;
  }

  #projects {
    height: 145vh
  }
  
  .slide {
    flex-direction: column;
    top: 245vh;
  }

  .project {
    width: 65%;
    margin: 10px;
  }

  .project-expl {
    height: 40%;
    width: 60%;
    font-size: 13px
  }
  
  .slide-lower {
    font-size: 15px;
  }

  .project-image-special-1 { padding: 25px 0;   }
  .project-image-special-2 { padding: 12.5px 0; }
  .project-image-special-3 { padding: 60px 0;   }

  .project-bottom a {
    margin-top: 80vh;
  }

  .better-code {
    padding: 10px;
    font-size: 15px
  }

  .arrow { top: 70%; }
  #arrow-right { right: 10px; }
  #arrow-left { left: 10px; }

  .organization, .work { margin: 1vh 9.5vw }

  .organization h1, .work h1 { font-size: 25px; }
  .organization-exp ul li, .work-exp ul li {
    font-size: 15px;
  }
  .organization-exp ul li p, .work ul li p {
    font-size: 12px;
  }

  .contact-content { margin-top: 5vh; }
  .contact-content h1 { font-size: 30px; }
  .contact-content h5 { font-size: 17px; }
  .contact-content p {
    font-size: 14px;
    width: 80%;
  }

  .email-phone {
    justify-content: space-evenly;
    width: 100%;
  }

  .ep_contact {
    width: 125px;
    height: 65px;
    font-size: 15px;
  }

  .ep_contact i  { font-size: 25px; }
  #show-number i { font-size: 30px; }

  .contact-address {
    width: 325px;
    height: 35px;
    font-size: 18px;
  }

  .address-icon {
    font-size: 17.5px;
    width: 40px;
    height: 35px;
  }
}

