@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kutip {
  position: absolute;
  top:-25px;
  right:0;
  font-size: 20em;
  opacity: 0.1;
  color: white;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.quote {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.quote #text {
  font-size: 25px;
  max-width: 650px;
  text-align: center;
} 

.quote #author {
  font-family: 'Abril Fatface', cursive; 
  font-size: 27.5px;
  margin-top: 10px;
}

footer {
  width: 100vw;
  height: 20vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer a {
  padding: 15px;
  text-decoration: none;
  color: white;
  margin: 10px;
}

footer button {
  padding: 10px;
  color: white;
  margin: 10px;
  font-size: 17.5px;
  outline: none;
}

@media screen and (max-width: 650px) {
  .kutip { font-size: 15em; }
  
  .quote { width: 80vw; }
 
  .quote #text { font-size: 20px; }
  
  .quote #author { font-size: 22.5px; }
}
