@import "https://fonts.googleapis.com/css?family=Lato:400,700";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background-color: #eee;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #eee;
  padding: 15px;
  z-index: 2;
}

.logo {
  width: 40%;
  max-width: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  margin-left: 25px;
}

nav ul {
  font-weight: 400;
  width: 60%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav ul li {
  list-style: none;
  padding: 20px;
}

nav ul li a {
  text-decoration: none;
  color: black;
  padding: 20px;
}

nav ul li a:hover {
  background-color: #eff;
}

header {
  margin-top: 125px;
}

header form {
  display: flex;
  flex-direction: column;
}

header form input[type='email'] {
  font-size: 15px;
  padding: 6px;
  margin-bottom: 5px;
  width: 250px;
  margin: 25px auto 15px auto;
}

header form input[type='submit'] {
  width: 150px;
  font-size: 15px;
  padding: 5px;
  background-color: blue;
  margin: 0 auto 30px auto;
  height: 35px;
  font-weight: bold;
  border: 0;
  cursor: pointer;
  color: white;
}

header form input[type='submit']:hover {
  background-color: darkblue;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: row;
  text-align: left;
  width: 650px;
  margin: 20px 0;
}

.icon {
  width: 75px;
  margin-right: 10px;
  color: blue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  width: 575px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.how-it-works > iframe {
  max-width: 560px;
  width: 100%;
  margin: 50px auto;
}

#pricing {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.product {
  height: 300px;
  width: 250px;
  margin: 50px;
  border: 1px solid #000;
}

.title {
  background-color: #ddd;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  height: 80%;
}

.description ul li {
  padding: 5px;
}

.btn {
  border: 0;
  margin: 15px 0;
  background-color: blue;
  width: 35%;
  height: 35px;
  font-size: 17.5px;
  cursor: pointer;
  color: white;
}

.btn:hover {
  background-color: darkblue;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  padding: 10px 40px;
  max-width: 950px;
  margin: 0 auto;
  align-items: flex-end;
}

footer ul {
  display: flex;
  flex-direction: row;
}

footer ul li {
  padding: 10px;
  color: black;
  padding-right: 0;
}

footer ul li a {
  text-decoration: none;
  color: black;
}

footer span {
  padding-bottom: 10px;
  color: #444;
}

@media screen and (max-width: 795px) {
  nav { flex-direction: column; }

  .logo {
    width: 100%;
    margin: 0 auto;
  }
  
  nav ul { width: 100%; }
  
  .product {
    width: 30%;
    margin: 10px;
  }
}

@media screen and (max-width: 650px) {
  .icon {
    width: 0;
    margin-right: 0;
    display: none;
  }
  
  .grid { width: 100%; }

  .desc {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .desc {
    width: 70%;
    margin: 0 auto;
  }

  .how-it-works > iframe { width: 90%; }
}

@media screen and (max-width: 550px) {
  nav ul {
    font-weight: 400;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  nav ul li {
    list-style: none;
    padding: 2px;
    overflow-y: hidden;
  }

  nav ul li a:hover { background-color: #eee; }

  header { margin-top: 150px; }

  .grid { margin: 10px 0; }

  #pricing {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
 
 .product {
    height: 300px;
    width: 50%;
    margin: 10px;
    border: 1px solid #000;
  }

  footer { margin-top: 25px; }
}
